
$colorPrimary: #726a95;
$colorPrimary2: #709fb0;
$colorSecondary: #a0c1b8;
$colorSecondary2: #f4ebc1;

$colorBlack: #1A181B;
$colorWhite: #FFFFFF;

$fontBold: 'Erica One', cursive;
$fontRoboto: 'Roboto', sans-serif;
